In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving bandarawela.xlsx to bandarawela.xlsx

In [ ]:
import io
df = pd.read_excel(io.BytesIO(uploaded['bandarawela.xlsx']))
df

                    Date    Vegetable  ...  NetPrice (Rs)  Quality
0              7/31/2020  GreenChilli  ...          15104        H
1              7/31/2020        Beans  ...          52052        H
2    2020-07-31 00:00:00      Potatoe  ...          30590        M
3    2020-07-31 00:00:00      Cabbage  ...          11858        H
4    2020-07-31 00:00:00      Potatoe  ...          10650        L
..                   ...          ...  ...            ...      ...
347  2020-02-20 00:00:00        Beans  ...           7420        H
348  2020-02-21 00:00:00      Potatoe  ...          48500        H
349  2020-02-22 00:00:00        Beans  ...          89100        H
350  2020-02-23 00:00:00        Beans  ...          21020        M
351  2020-02-24 00:00:00        Beans  ...           5610        L

[352 rows x 8 columns]

In [ ]:
df['Vegetable'].value_counts()

Beans          136
Eggplant        52
Tomato          31
Cabbage         29
Potatoe         24
Carrot          23
Radish          22
GreenChilli     12
Pumpkin          6
Guava            6
Karawila         4
Arecanut         2
Banana           2
Lettuce          2
Name: Vegetable, dtype: int64

In [ ]:
df = df.drop(['Date','Quality','NetPrice (Rs)','Units'],axis='columns')
df.shape

(352, 4)

In [ ]:
df.isnull().sum()

Vegetable           1
NetAmount (kg)      2
Time                0
PricePerkilogram    2
dtype: int64

In [ ]:
df = df.dropna()
df.isnull().sum()

Vegetable           0
NetAmount (kg)      0
Time                0
PricePerkilogram    0
dtype: int64

In [ ]:
df.Time.unique()

array(['7.50am ', '8.35am ', '9.45am ', '10.10am ', '10.30am', '10.45am ',
       '11.35am', '12.25pm ', '12.55pm', '9.00am', '9.25am', '9.55am',
       '10.50am', '11.05am ', '11.30am ', '11.45am', '8.30am ', '8.45am ',
       '8.55am', '9.45am', '10.00am', '10.25am ', '10.40am', '11.55am ',
       '8.15am ', '8.30am', '10.05am', '10.30am ', '10.55am ', '11.10am ',
       '11.35am ', '1.00pm ', '9.10am', '9.30am', '10.25am', '11.20am',
       '11.40am ', '12.05pm', '8.05am ', '8.10am ', '9.05am ', '9.35am',
       '10.15am', '8.05am', '8.25am ', '9.15am', '9.30am ', '9.55am ',
       '10.35am', '11.25am ', '12.02pm ', '9.15am ', '10.05am ',
       '10.15am ', '8.25am', '9.50am ', '11.05am', '11.15am ', '11.30am',
       '12.05pm ', '12.35pm ', '8.00am', '8.20am ', '9.25am ', '9.35am ',
       '11.10am', '10.10am', '10.23am ', '10.34am', '10.45am', '10.50am ',
       '7.55am ', '8.15am', '9.05am', '9.40am ', '10.00am ', '9.00am ',
       '12.50pm', '1.10pm ', '8.00am ', '8.40am', '8.55am ', '10.55am',
       '11.50am', '12.10pm', '12.15pm', '12.35pm', '12.40pm ', '12.45pm ',
       '1.15pm', '1.25pm ', '7.55am', '8.20am', '10.40am ', '12.30pm',
       '1.15pm ', '1.50pm ', '2.40pm ', '7.50am', '8.35am', '12.25pm',
       '12.55pm ', '11.45am ', '11.55am', '1.00pm', '11.20am ', '11.40am',
       '10.35am ', '11.25am', '10.34am ', '8.45am', '12.50pm ', '10.23am',
       '11.50am ', '12.10pm ', '12.15pm ', '1.25pm', '12.45pm'],
      dtype=object)

In [ ]:
#creating new coloumns for morning and evening prices 
df['morning_price'] = df['Time'].apply(lambda x: 1 if 'am' in x.lower() else 0)
df['evening_price'] = df['Time'].apply(lambda x: 1 if 'pm' in x.lower() else 0)

In [ ]:
df.head()

     Vegetable  NetAmount (kg)  ... morning_price  evening_price
0  GreenChilli           118.0  ...             1              0
1        Beans           286.0  ...             1              0
2      Potatoe           266.0  ...             1              0
3      Cabbage           154.0  ...             1              0
4      Potatoe           142.0  ...             1              0

[5 rows x 6 columns]

In [ ]:
#creating coloumns for each vegetables
#Beans 
df['Beans'] = df['Vegetable'].apply(lambda x: 1 if 'beans' in x.lower() else 0)
#Potatoe
df['Potatoe'] = df['Vegetable'].apply(lambda x: 1 if 'potatoe' in x.lower() else 0)
#Eggplant 
df['Eggplant'] = df['Vegetable'].apply(lambda x: 1 if 'eggplant' in x.lower() else 0)
#Tomato          
df['Tomato'] = df['Vegetable'].apply(lambda x: 1 if 'tomato' in x.lower() else 0)
#Carrot  
df['Carrot'] = df['Vegetable'].apply(lambda x: 1 if 'carrot' in x.lower() else 0)
#Cabbage
df['Cabbage'] = df['Vegetable'].apply(lambda x: 1 if 'cabbage' in x.lower() else 0)
#Radish
df['Radish'] = df['Vegetable'].apply(lambda x: 1 if 'radish' in x.lower() else 0)
#Green Chilli 
df['GreenChilli'] = df['Vegetable'].apply(lambda x: 1 if 'greenchilli' in x.lower() else 0)
#Pumpkin 
df['Pumpkin'] = df['Vegetable'].apply(lambda x: 1 if 'pumpkin' in x.lower() else 0)
#Guava   
df['Guava'] = df['Vegetable'].apply(lambda x: 1 if 'guava' in x.lower() else 0)
#karawila
df['Karawila'] = df['Vegetable'].apply(lambda x: 1 if 'karawila' in x.lower() else 0)

In [ ]:
df.head()

     Vegetable  NetAmount (kg)      Time  ...  Pumpkin  Guava  Karawila
0  GreenChilli           118.0   7.50am   ...        0      0         0
1        Beans           286.0   8.35am   ...        0      0         0
2      Potatoe           266.0   9.45am   ...        0      0         0
3      Cabbage           154.0  10.10am   ...        0      0         0
4      Potatoe           142.0   10.30am  ...        0      0         0

[5 rows x 17 columns]

In [ ]:
#removing vegetables which contains less than two datasets 
#df = df.set_index("Vegetable")
#df.drop(['Banana','Arecanut','Lettuce','Karawila'], axis=0,inplace=True)

In [ ]:
df.shape # initial row count = 248

(347, 17)

In [ ]:
df = df[df.Vegetable != "Banana"]

In [ ]:
#df = df[df.Vegetable != "Karawila"]

In [ ]:
df = df[df.Vegetable != "Arecanut"]

In [ ]:
df = df[df.Vegetable != "Lettuce"]

In [ ]:
df.shape #row count after removing above mentioned 4 vegetables

(343, 17)

In [ ]:
df["Vegetable"]

0      GreenChilli
1            Beans
2          Potatoe
3          Cabbage
4          Potatoe
          ...
347          Beans
348        Potatoe
349          Beans
350          Beans
351          Beans
Name: Vegetable, Length: 343, dtype: object

In [ ]:
df.describe()

       NetAmount (kg)  PricePerkilogram  ...       Guava    Karawila
count      343.000000        343.000000  ...  343.000000  343.000000
mean       126.099125        105.134111  ...    0.017493    0.011662
std        105.361902         49.585588  ...    0.131290    0.107515
min          4.000000         17.000000  ...    0.000000    0.000000
25%         52.000000         75.000000  ...    0.000000    0.000000
50%        112.000000         87.000000  ...    0.000000    0.000000
75%        153.500000        155.000000  ...    0.000000    0.000000
max        891.000000        230.000000  ...    1.000000    1.000000

[8 rows x 15 columns]

In [ ]:
 df.columns

Index(['Vegetable', 'NetAmount (kg)', 'Time', 'PricePerkilogram',
       'morning_price', 'evening_price', 'Beans', 'Potatoe', 'Eggplant',
       'Tomato', 'Carrot', 'Cabbage', 'Radish', 'GreenChilli', 'Pumpkin',
       'Guava', 'Karawila'],
      dtype='object')

In [ ]:
#creating the random forest model
#choosing the appropiate columns
df_model = df[['Vegetable','PricePerkilogram','morning_price','evening_price','Beans','Potatoe','Eggplant','Tomato','Carrot','Cabbage','Radish','GreenChilli','Pumpkin','Guava','Karawila']]

In [ ]:
#get dummy data
df_dum = pd.get_dummies(df_model)

In [ ]:
#train test split
from sklearn.model_selection import train_test_split

X = df_dum.drop('PricePerkilogram', axis =1)
y = df_dum.PricePerkilogram.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
print(X.iloc[0])

morning_price            1
evening_price            0
Beans                    0
Potatoe                  0
Eggplant                 0
Tomato                   0
Carrot                   0
Cabbage                  0
Radish                   0
GreenChilli              1
Pumpkin                  0
Guava                    0
Karawila                 0
Vegetable_Beans          0
Vegetable_Cabbage        0
Vegetable_Carrot         0
Vegetable_Eggplant       0
Vegetable_GreenChilli    1
Vegetable_Guava          0
Vegetable_Karawila       0
Vegetable_Potatoe        0
Vegetable_Pumpkin        0
Vegetable_Radish         0
Vegetable_Tomato         0
Name: 0, dtype: int64

In [ ]:
#random forest
from sklearn.model_selection import cross_val_score
#refer - https://stackabuse.com/random-forest-algorithm-with-python-and-scikit-learn/
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor() 
np.mean(cross_val_score(rf,X_train,y_train,scoring = 'neg_mean_absolute_error', cv= 3))

-17.151911312106765

In [ ]:
#grid search cv - model tuning 
# reasonto choose it over random search cv is that we got less number of data sets
from sklearn.model_selection import GridSearchCV
parameters = {'n_estimators':range(10,300,10), 'criterion':('mse','mae'), 'max_features':('auto','sqrt','log2')}

gs = GridSearchCV(rf,parameters,scoring='neg_mean_absolute_error',cv=3)
gs.fit(X_train,y_train)

GridSearchCV(cv=3, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ('mse', 'mae'),
                         'max_features': ('auto', 'sqrt', 'log2'),
                         'n_estimators': range(10, 300, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [ ]:
gs.best_score_

-16.136206004140785

In [ ]:
gs.best_estimator_

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mae',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=30, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
#test enembles
from sklearn.metrics import mean_absolute_error
tpred_rf = gs.best_estimator_.predict(X_test)
mean_absolute_error(y_test,tpred_rf)

15.251690821256041

In [ ]:
print(str(list(X_train.iloc[10,:])))

[1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]

In [ ]:
#pickle the model = converts the object into a byte stream which can be stored
import pickle
pickl = {'model': gs.best_estimator_}
pickle.dump( pickl, open( 'model_file' + ".p", "wb" ) )

In [ ]:
file_name = "model_file.p"
with open(file_name, 'rb') as pickled:
    data = pickle.load(pickled)
    model = data['model']
model.predict(np.array(list(X_test.iloc[1,:])).reshape(1,-1))[0]

list(X_test.iloc[1,:])

[1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [ ]:
model.predict(np.array(list(X_test.iloc[1,:])).reshape(1,-1))[0]

47.583333333333336